<h1>Quality control report</h1>
{% for run in qcprot.runs %}
<div class="qcprot-run">
    <h2> Run {{ run.id|e }} </h2>
    <table class="qcprot-table table">
    {% for row in run.quality_params %}
        <tr>
            <td class=qcprot-table-label> {{ row[0]|e }} </td>
            <td class=qcprot-table-value> {{ row[1]|e }} </td>
        </tr>
    {% endfor %}
    </table>
    {% for name, plot in run.plots|dictsort %}
        <div class="qcprot-plot">
            <h3> {{ plot.title|e }} </h3>
            {% if "desc" in plot %}
                {{ plot["desc"]|safe }}
            {% endif %}
            {% if "png" in plot %}
                <img src="data:image/png;base64,{{ plot.png|safe }}"/>
            {% endif %}
            {% if "svg" in plot %}
                {{ plot.svg|safe }}
            {% endif %}
            {% if "table" in plot %}
                <table class="qcprot-table table">
                    <thead>
                        <tr>
                        {% for val in plot.table[0] %}
                            <th> {{ val|e }} </th>
                        {% endfor %}
                        </tr>
                    </thead>
                    </tbody>
                        {% for row in plot.table[1:] %}
                            <tr>
                            {% for val in row %}
                                <td class=qcprot-table-value>
                                    {{ val|e }}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endfor %}
<div class="qcprot-description">
    This report was created on {{ qcprot.date|e }}.
    <br/>
    The version of qcprot was {{ qcprot.version|e }}. You can find the
    source <a href="http://github.com/qbicsoftware/qcprot">here</a>.
    Protein databases were:
    <ul>
        {% for i in range(qcprot.fasta_names|count) %}
        <li>
            {{ qcprot.fasta_names[i]|e }} with md5 {{ qcprot.fasta_md5s[i]|e }}
            and size {{ qcprot.fasta_sizes[i]|e }}.
        </li>
        {% endfor %}
    </ul>
    <br/>
    The following parameters were used:
    <br/>
    {{ qcprot.config }}
    {% if "ini_diff" in qcprot %}
        The ini files were changed. Changes to the standard qcprot parameters:
        <br/>
        {{ qcprot.ini_diff|safe }}
    {% endif %}
    <br/>
</div>
